<div>
    <h1>Events</h1>
    <hr />
    <hr />
    <ul class="thumbnails">
        <li ng-repeat="event in events | orderBy:sortOrder" class="col-xs-6">
            <a href="#/event/{{event.id}}">
                <div class="well hoverwell">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>{{event.name}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <span><strong>Date: </strong></span>
                        </div>
                        <div class="col-xs-10">
                            <span>{{event.date}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <span><strong>Time: </strong></span>
                        </div>
                        <div class="col-xs-10">
                            <span>{{event.time}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <span><strong>Location: </strong></span>
                        </div>
                        <div class="col-xs-10">
                            <span>{{event.location.address}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-2">
                            <span>{{event.location.city}}, {{event.location.province}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>