<div ng-controller="EditEventController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>New Event</h1>
            </div>
        </div>
        <hr />
        <form name="newEventForm">
            <fieldset>
                <div class="row form-group">
                    <div class="col-xs-3"><label for="eventName">Event Name:</label></div>
                    <div class="col-xs-9"><input type="text" required id="eventName" ng-model="event.name" placeholder="Name of your event..."
                            class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3"><label for="eventDate">Event Date:</label></div>
                    <div class="col-xs-9"><input type="text" date-keys required ng-pattern="/\d\d/\d\d/\d\d\d\d/" id="eventDate" ng-model="event.date" placeholder="format (mm/dd/yyyy)..."
                            class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3"><label for="eventTime">Event Time:</label></div>
                    <div class="col-xs-9"><input type="text" id="eventTime" ng-model="event.time" placeholder="start and end time..." class="form-control"
                        /></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3"><label for="eventLocation">Event Location:</label></div>
                    <div class="col-xs-9"><input type="text" id="eventLocation" ng-model="event.location.address" placeholder="Address of event..."
                            class="form-control" /></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-offset-3 col-xs-5"><input type="text" id="eventCity" ng-model="event.location.city" placeholder="City..." class="form-control"
                        /></div>
                    <div class="col-xs-4"><input type="text" id="eventProvince" ng-model="event.location.province" placeholder="Province..." class="form-control"
                        /></div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-3"><label for="eventImageUrl">Image:</label></div>
                    <div class="col-xs-9"><input type="url" class="input-lg form-control" id="eventImageUrl" ng-model="event.imageUrl" placeholder="Url of image..."
                        /></div>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-xs-12">
                    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary btn-block">Save</button>
                </div>
                <div class="col-xs-3">
                    <button type="button" ng-click="cancelEdit()" class="btn btn-default btn-block">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>